.HomePage{
    height: 1000px;
    width: 100%;
}
.Image{
    background-image: url(../../public/assets/images/OgchoiceBeetrootBlack.png);
    width: 100%;
    height: 100%;
    margin-left: 8%;
    
}